<table id="datatablesSimple" class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr>
        <th>STT</th>
        <th>IP</th>
        <th>Hostname</th>
        <th>Ghi chu</th>
        <th>Thoi giam</th>
        <th>Action</th>
        <th style="display: none">Action</th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < data.length; i++) { %>
        <tr>
            <td style="width: 5%;"><%= i + 1 %></td>
            <td style="width: 25%;"><%= data[i].IP %></td>
            <td style="width: 20%;"><%= data[i].hostname %></td>
            <td style="width: 20%;"><%= data[i].note %></td>
            <td style="width: 20%;"><%= data[i].created_time %></td>
            <td style="width: 10%;">
                <button class="btn btn-default delete-ip-hostname" data-toggle="modal"
                        data-target="#modalEditUser" data-backdrop="static"><i
                            class="far fa-trash-alt "></i></button>
            </td>
            <td style="width: 0; display: none"><%= data[i].id %></td>
        </tr>
    <% } %>
    </tbody>
</table>

<script>
    var datatablesSimple = document.getElementById('datatablesSimple');
    if (datatablesSimple) {
        new simpleDatatables.DataTable(datatablesSimple);
    }
</script>
