<table id="datatablesSimple" class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr>
        <th>STT</th>
        <th>Mã hệ thống</th>
        <th>Tên hệ thống</th>
        <th>IP (PROD)</th>
        <th>IP (PPE/UAT)</th>
        <th>Mô tả</th>
        <th>Người quản lý</th>
        <th>Action</th>
        <th style="display: none">Action</th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < data.length; i++) { %>
        <tr>
            <td style="width: 7%;"><%= i + 1 %></td>
            <td style="width: 15%;"><%= data[i].code %></td>
            <td style="width: 15%;"><%= data[i].name %></td>
            <td style="width: 13%;"><%= data[i].ipProdShort %></td>
            <td style="width: 13%;"><%= data[i].ipPpeShort %></td>
            <td style="width: 13%;"><%= data[i].description %></td>
            <td style="width: 15%;"><%= data[i].username %></td>
            <td style="width: 20%;">
                <button class="btn btn-default edit-system" data-toggle="modal"
                        data-target="#modalEditUser" data-backdrop="static"><i
                            class="fas fa-edit"></i></button>
                <button class="btn btn-default delete-system" data-toggle="modal"
                        data-target="#modalDeleteUser" data-backdrop="static"><i
                            class="far fa-trash-alt "></i></button>
            </td>
            <td style="width: 0; display: none"><%= data[i].id %></td>
        </tr>
    <% } %>
    </tbody>
</table>

<script>
    var datatablesSimple = document.getElementById('datatablesSimple');
    if (datatablesSimple) {
        new simpleDatatables.DataTable(datatablesSimple);
    }
</script>
