<!-- Header -->
<%- include('partials/header.ejs') %>
<div id="layoutSidenav">
    <!-- Sidebar -->
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="row">
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Tên hệ thống</span>
                            </div>
                            <input id="sysNameSearch" type="text" class="form-control date-picker" aria-label="Username"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">IP</span>
                            </div>
                            <input id="ipSearch" type="text" class="form-control date-picker" aria-label="Username"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Hostname</span>
                            </div>
                            <input id="hostnameSearch" type="text" class="form-control date-picker"
                                   aria-label="Username"
                                   aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button id="searchBtn" class="btn btn-outline-success">Tìm kiếm</button>
                    </div>
                    <div class="col-md-2">
                        <button id="btnOpenModalAdd" class="btn btn-success">Thêm mới</button>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px">
                        <input type="file" id="fileUpload" class="form-control" accept=".xlsx">
                        <a href='./Sample_template.xlsx' download="Sample_template.xlsx">Tải file mẫu tại đây</a>
                    </div>
                    <div class="col-md-2" style="margin-top: 10px">
                        <button id="btnUploadFile" class="btn btn-info">Upload file</button>
                    </div>
                    <div class="col-md-2" style="margin-top: 10px">
                        <button id="btnDownloadFile" class="btn btn-outline-info">Download file</button>
                    </div>
                </div>

                <div class="row" id="tableActivity">
                    <div class="card-body" id="tableManagement">
                        <table id="datatablesSimple" class="table table-hover table-bordered">
                            <thead class="thead-light">
                            <tr>
                                <th>STT</th>
                                <th>Mã hệ thống</th>
                                <th>Tên hệ thống</th>
                                <th>IP (PROD)</th>
                                <th>IP (PPE/UAT)</th>
                                <th>Mô tả</th>
                                <th>Người quản lý</th>
                                <th>Action</th>
                                <th style="display: none">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <% for (var i = 0; i < data.length; i++) { %>
                                <tr>
                                    <td style="width: 7%;"><%= i + 1 %></td>
                                    <td style="width: 13%;"><%= data[i].code %></td>
                                    <td style="width: 15%;"><%= data[i].name %></td>
                                    <td style="width: 13%;">
                                        <p data-toggle="tooltip" data-placement="top" title="<%= data[i].ipProd %>"><%= data[i].ipProdShort %></p>
                                    </td>
                                    <td style="width: 13%;">
                                        <p data-toggle="tooltip" data-placement="top" title="<%= data[i].ipPpe %>"><%= data[i].ipPpeShort %></p>
                                    </td>
                                    <td style="width: 13%;"><%= data[i].description %></td>
                                    <td style="width: 15%;"><%= data[i].username %></td>
                                    <td style="width: 20%;">
                                        <button class="btn btn-default edit-system" data-toggle="modal"
                                                data-target="#modalEditUser" data-backdrop="static"><i
                                                    class="fas fa-edit"></i></button>
                                        <button class="btn btn-default delete-system" data-toggle="modal"
                                                data-target="#modalDeleteUser" data-backdrop="static"><i
                                                    class="far fa-trash-alt "></i></button>
                                    </td>
                                    <td style="width: 0; display: none"><%= data[i].id %></td>
                                </tr>
                            <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>


            </div>
        </main>
    </div>
</div>

<!-- The Modal -->

<div id="add-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="max-width: 50vw!important;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Data</h5>
                <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name">Mã hệ thống</label>
                        <input id="newSystemCode" type="text" class="form-control" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Tên hệ thống</label>
                        <input id="newSystemName" type="text" class="form-control" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Mô tả</label>
                        <input id="description" type="text" class="form-control" name="name">
                    </div>
                    <button id="btnAddNew" class="btn btn-primary">Add</button>
                    <div id="warningAddNewSystem"></div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="details-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="max-width: 80vw" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Details</h5>
                <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" value="PROD" id="prod" checked>
                    <label class="form-check-label" for="prod">
                        Production
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="type" value="PPE/UAT" id="ppeUat">
                    <label class="form-check-label" for="ppeUat">
                        PPE / UAT
                    </label>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="newIp">IP</label>
                        <input type="text" class="form-control" id="newIp">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="newHostname">Hostname</label>
                        <input type="text" class="form-control" id="newHostname">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="newNote">Note</label>
                        <input type="text" class="form-control" id="newNote">
                    </div>
                    <div class="form-group col-md-3">
                        <button id="btn-add-new-ip-hostname" style="position: relative; top: 32px" type="submit"
                                class="btn btn-primary">Them moi
                        </button>
                    </div>
                    <div id="warningAddNewIpHostname"></div>
                </div>
                <div id="tableIpHostName">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="newNote">File dinh kem</label>
                        <input id="fileServer" type="file" class="form-control" accept=".docx">
                    </div>
                    <div class="form-group col-md-3">
                        <button class="btn btn-outline-primary" id="btnUploadFileServer"
                                style="position: relative; top: 33px">
                            Upload
                        </button>
                    </div>
                </div>
                <div id="uploadFileServerDiv">

                </div>
            </div>
        </div>
    </div>
</div>

<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"><h4>Bạn có muốn xoá hệ thống này ?</h4></div>
            <div class="modal-footer justify-content-center">
                <button id="btnDeleteUser" type="button" class="btn btn-info" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<!-- Footer -->
<%- include('partials/footer.ejs') %>
